@font-face {
    font-family: hussar-bold;
    src: url(./FONTS/Hussar/HussarBold.otf);
}
@font-face {
    font-family: ma-shan-zheng;
    src: url(./FONTS/ma-shan-zheng/MaShanZheng-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
    background-color: rgb(255, 254, 240);
}

#html-wrapper{
    min-height: fit-content;
    min-width: 100%;
   
}

html.has-scroll-smooth {
  overflow: hidden;
}

[data-scroll-container] {
  min-height: 100vh;
}

section{
    min-height: fit-content;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

main{
    height: 100vh;
    width: 100%;
}

button{
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
}

h1{
    font-size: clamp(5rem, 10vw, 10rem);
    font-weight: 700;
    line-height: clamp(5.5rem, 11vw, 11rem);
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
}

h2{
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
    line-height: clamp(2.5rem, 6vw, 5rem);
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
}
