footer{
    height: 40vh;
    overflow: hidden;
    /* margin-top: -10vh; */
    position: relative;
    padding: 0;
    margin-top: 5vh;
}

.semi-circle {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    flex-grow: 0;
    border: 2px solid rgb(0, 0, 0);

    background-color: black;
    color: white;
    text-align: center;
    min-height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* border-radius: 50%; */
    height: 180vw;
    width: 180vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    img{
        width: 20vw;
        border-radius: 50%;
        position: relative;
        margin-top: -4vw;
    border: 2px solid rgb(0, 0, 0);

    }

    & p{
        font-size: 1rem;
        margin-top: -7vw;
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
    }
}

