#hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.cta-group{
    display: flex;
    gap: 20px;
    font-size: 1.2rem;

    button{
        width: 16vw;
        flex-shrink: 0;
        text-wrap: nowrap;
        min-width: fit-content;

    }
}

.loading-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 254, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* display: none; */
  }
.loader {
  width: fit-content;
 font-size: clamp(5rem, 10vw, 10rem);
  /* font-size: 40px; */
  font-family: hussar, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  --l:#0000 45%,#000 0 55%,#0000 0;
  --g:0/300% 100% no-repeat text;
  background: 
    linear-gradient(-60deg,var(--l)) var(--g),
    linear-gradient( 60deg,var(--l)) var(--g);
  animation: l7 4s linear infinite;
  background-color: rgb(255, 255, 255);

}
.loader:before {
  content: "Loading";
}
@keyframes l7 {
  0%  {background-position: 100%,0   }
  50% {background-position: 0   ,0   }
  to  {background-position: 0   ,100%}
}