#projects{
    height: 100vh;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: rgb(47, 46, 46);
}


/* #hero, #skills, #contact{
    display: none;
} */